
.main{background: rgba(255,255,255,0.5);  margin-top: 10px;  font-family: 微软雅黑;  }

/*树形菜单样式*/
body .layui-tree-skin-menu .layui-tree-branch{color: #EDCA50;}

/*房间列表*/
.room-list{  float: left;  height: 500px;  background: #f2f2f2;  border-right: 1px solid slategray;  }

/*游戏说明*/
.game-introduction{  padding-left: 10px;  display: inline-block;  float: left;  width: 87%;  text-indent: 2em;  }

/*标题*/
.game-introduction-title{  text-align: center;  font-size: large;  font-weight: bolder;  }
