body{  font-family: 微软雅黑;  font-size: 14px;  margin: 0px;  padding: 0px;  margin-top: 1px;  }

ul li{  list-style: none;  color: black;  }

h4{  font-weight: bolder;  }

/*整体宽高*/
#whole{  height: 1155px;  width: 100%;  }


/*顶部导航条*/
.layui-bg-cyan{  width: 100%;  position: fixed;  top:0;  left: 0;  height: 45px;  line-height: 45px;  font-size: large;  color: white;  text-align: center;  }

/*主体部分*/
.main{  display: inline-block;  width: 75%;  height: 1155px;  overflow-y:scroll;  float: left;  background: #5480AD;  scrollWidth:20px;  }

/*下拉框*/
::-webkit-scrollbar{
    width: 3px;
}

.main td{  display: inline-block;  height: 150px;  width: 141px;  margin: 15px;  }

/*右边聊天区域*/
.chat{  margin-top: 45px;  width: 25%;  float: left;  background: #f2f2f2;  }

/*棋桌*/
.desk{  height: 130px;  }

/*左边座位*/
.desk-left{  width: 30px;  height: 130px;  float: left;  }

/*中间棋桌*/
.desk-middle{  width: 81px;  float: left;  height: 130px;  }

/*右边座位*/
.desk-right{  width: 30px;  float: right;  height: 130px;  }

/*棋桌状态 ----- 桌子没有坐满*/
.desk-board-none{  width: 55px;  height: 55px;  background: url("../images/table.gif");  margin-top: 32px;  margin-left: 8px;  }

/*鼠标聚焦棋桌*/
.desk-board-none:hover{  border: 1px solid white;  border-radius : 15px;  cursor: pointer;  }

/*棋桌状态  -----  桌子坐满了*/
.desk-board-on{  width: 53px;  height: 53px;  background: url("../images/table-on.gif");  margin-top: 32px;  margin-left: 8px;  }

/*座位状态  -----  座位还没人  */
.desk-none{  height: 28px;  width: 28px;  background: #3E5475;  margin-top: 50px;  margin-right: 1px;  margin-left: 1px;  }

/*鼠标聚焦座位*/
.desk-none:hover{  border: 1px solid white;  cursor: pointer;  }

/*座位状态  ----   座位已经有人*/
.desk-on{  position: relative;  height: 28px;  width: 28px;  margin-top: 50px;  margin-right: 1px;  margin-left: 1px;  }

/*座位号*/
.desk-num{  height: 20px;  line-height: 20px;  text-align: center;  color: white;  }

/*在线用户列表*/
.player-list{  height: 300px;  font-size: 15px;  border-bottom: 2px solid gray;  border-radius : 3px;  overflow-y: scroll;  }

/*聊天区域*/
.chat-list{  border: 1px solid #CCCCCC;  height: 800px;  border-radius : 3px;  border-bottom: 2px solid gray;  border-radius : 3px;  overflow-y: scroll;  }

/*聊天框*/
.chat-box{  height: 95px;  margin-top: 10px;  }

/*玩家头像*/
.player_icon{  float: left;  border: 1px solid #DDDDDD;  padding: 2px;  margin: 0 5px 0 5px;  }

/*聊天内容*/
.chat_style{  background: linear-gradient(#D3FF93, #EFFFD7);  position: relative;  border: 1px solid  #DFFFB1;  border-radius : 20px;  padding: 10px;  margin: 10px 0 15px;  color: #000;  }

/*内容*/
.chat_style:hover{  border: 4px solid  #DFFFB1;  border-radius : 20px;  }

/*发送弹幕*/
#speak{  position:fixed;  bottom:0;  right:0;  }

/*弹幕*/
.danmu{  height:30px;  width: 500px;  line-height:30px;  position:absolute;  top:0;  left:95%;  font-weight:900;  font-size: 30px;  }

