body{
    font-family: 微软雅黑;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    margin-top: 1px;

}

#whole{
    height: 1155px;
    width: 100%;
}

.layui-bg-cyan{
    width: 100%;
    position: fixed;
    top:0;
    left: 0;
    height: 45px;
    line-height: 45px;
    font-size: large;
    color: #FF5722;
    text-align: center;
}

.main{
    display: inline-block;
    width: 75%;
    height: 1155px;
    overflow-y:scroll;
    float: left;
    background: #5480AD;
    scrollWidth:20px;
}

::-webkit-scrollbar{
    width: 3px;
}
.chat{
    margin-top: 45px;
    width: 25%;
    float: left;
    background: #f2f2f2;
}
.main td{
    display: inline-block;
    height: 150px;
    width: 141px;
    margin: 15px;
}
.desk{
    height: 130px;
}
.desk-left{
    width: 30px;
    height: 130px;
    float: left;
}
.desk-middle{
    width: 81px;
    float: left;
    height: 130px;
}
.desk-right{
    width: 30px;
    float: right;
    height: 130px;
}
/*棋桌状态 ----- 桌子没有坐满*/
.desk-board-none{
    width: 55px;
    height: 55px;
    /*background: #A6A6A6;*/
    background: url("../images/table.gif");
    margin-top: 32px;
    margin-left: 8px;
}
.desk-board-none:hover{
    border: 1px solid white;
    border-radius : 15px;
    cursor: pointer;

}

/*棋桌状态  -----  桌子坐满了*/
.desk-board-on{
    width: 53px;
    height: 53px;
    background: url("../images/table-on.gif");
    margin-top: 32px;
    margin-left: 8px;
}

/*座位状态  -----  座位还没人  */
.desk-none{
    height: 28px;
    width: 28px;
    background: #3E5475;
    margin-top: 50px;
    margin-right: 1px;
    margin-left: 1px;
}
.desk-none:hover{
    border: 1px solid white;
    cursor: pointer;
}
/*座位状态  ----   座位已经有人*/

.desk-on{
    position: relative;
    height: 28px;
    width: 28px;
    /*background: green;*/
    margin-top: 50px;
    margin-right: 1px;
    margin-left: 1px;
}

.desk-num{
    height: 20px;
    line-height: 20px;
    text-align: center;
    color: white;
}


.player-list{
    height: 300px;
    font-size: 15px;
    border-bottom: 2px solid gray;
    border-radius : 3px;
    overflow-y: scroll;
}

.chat-list{
    border: 1px solid #CCCCCC;
    height: 800px;
    border-radius : 3px;
    border-bottom: 2px solid gray;
    border-radius : 3px;
    overflow-y: scroll;
}

ul li{
    list-style: none;
    color: black;
}

h4{
    font-weight: bolder;
}

.chat-box{
    height: 95px;
    margin-top: 10px;
}
.player_icon{
    float: left;
    border: 1px solid #DDDDDD;
    padding: 2px;
    margin: 0 5px 0 5px;
}
.chat_style{
    background: linear-gradient(#D3FF93, #EFFFD7);
    position: relative;
    border: 1px solid  #DFFFB1;
    border-radius : 20px;
    padding: 10px;
    margin: 10px 0 15px;
    color: #000;
}

.chat_style:hover{
    border: 4px solid  #DFFFB1;
    border-radius : 20px;
}

.message{
    margin-top:50px;
    width: 100%;
}

#speak{
    position:fixed;
    bottom:0;
    right:0;
}

.danmu{
    height:30px;
    width: 500px;
    line-height:30px;
    position:absolute;
    top:0;
    left:95%;
    font-weight:900;
    font-size: 30px;
}

